@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
}
.nav{
    border-bottom: 2px solid rgb(201, 194, 194);
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    height: 95px;
    margin-right: 20px;
}
.links li{
    list-style: none;
    margin-top: 20px;
}
.links li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    color: rgb(61, 61, 243);
}
.links li a:hover{
    text-decoration: underline 5px solid rgb(61, 61, 243);
}
.signin-up{
    display: flex;
    column-gap: 15px;
    margin: 18px 0px;
    color: rgb(61, 61, 243);
    font-size: 20px;
    border: 5px;
    font-weight: bold;
}
.sign-up{
    background: rgb(61, 61, 243);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.sign-in{
    border-radius: 10px;
    text-align: center;
    color: rgb(61, 61, 243);
    justify-content: center;
    padding: 5px 10px 5px 10px;
}
.home{
    display: flex;
    justify-content: space-between;
}
.home-text{
    position: relative;
    padding: 50px 30px 0px 50px;
    top: 80px;
    line-height: 3rem;
}
.home-text span{
    color: rgb(61, 61, 243);
}
.home img{
    position: relative;
    margin-right: 20px;
    width: 45%;
    height: 450px;
    top: 50px;
}
.home button{
    margin-top: 40px;
    font-size: 16px;
    padding: 15px;
    color: #fff;
    background: rgb(61, 61, 243);
    border: none;
    border-radius: 5px;
}
.home button:hover{
    background: rgb(93, 93, 228);
    color: #fff;
}
.signUpForm{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 10px 30px;
}
.signUpForm .icon{
    position: relative;
    height: 400px;
    width: 90%;
    top: 80px;
}
.signup-data{
    background: rgb(117, 117, 231);
}