{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="logo">
                <img src="{% static 'icons/XLSX.png' %}" alt="">
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="../">Home</a>
                        <a href="../about">About</a>
                        <a href="../contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="signin-up">
                <span class="Forgotten Password"><a href="../password_reset"></a></span>
            </div>
        </div>
        <div class="loginForm">
            <div class="logo-img">
                <img class="icon" src="{% static 'images/spreadsheet2.png' %}" alt="">
            </div>
            <div class="login-data">
                <h1> Password Reset</h1>
                <P class="Reset Password-text"></P>
                <P class="create">Do not worry! We would help you recover your password.</P>
                <form name="signin" onsubmit="" action="#">
                    <div class="field-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" required>
                        <p class="error-text">Email cannot be empty</p>
                    </div>
                    <!-- <div class="field-group">
                        <label for="password">Password</label>
                        <input type="text" id="password" name="password" required>
                    </div> -->
                    <!-- <span>FORGOT PASSWORD?</span>
                    <p class="Forgot password"><a href="./signUp.html">Forgotten Password?</a></p>
                    <button type="submit" name="submit" value="submit" class="login">Login</button>
                    <p>Forgotten Password? <a href="./signUp.html">Sign Up</a></p>
                    <small>--- or ---</small> -->

                    <!-- <div class="field-group">
                        <label for="password">Retype Password</label>
                        <input type="text" id="password" name="password" required> -->
                        <button type="submit" name="submit" value="submit" class="create-account">Send</button>
                    </div>
                    <!-- <div class="google">
                        <button type="button" class="login-with-google-btn" >
                            Countinue with Google -->
                        <!-- </button> -->
                    </div>
            </div>

        </div>
    </div>
</body>
</html>