<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>Loan Theme ID</th>
      <th>Loan Theme Type</th>
      <th>Partner ID</th>
      <th>patner_genders</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>638631</td>
      <td>a1050000000skGl</td>
      <td>General</td>
      <td>151.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>1</th>
      <td>640322</td>
      <td>a1050000000skGl</td>
      <td>General</td>
      <td>151.0</td>
      <td>female, female</td>
    </tr>
    <tr>
      <th>2</th>
      <td>641006</td>
      <td>a1050000002X1ij</td>
      <td>Higher Education</td>
      <td>160.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>3</th>
      <td>641019</td>
      <td>a1050000002X1ij</td>
      <td>Higher Education</td>
      <td>160.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>4</th>
      <td>641594</td>
      <td>a1050000002VbsW</td>
      <td>Subsistence Agriculture</td>
      <td>336.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>5</th>
      <td>642256</td>
      <td>a1050000000T3oX</td>
      <td>Extreme Poverty</td>
      <td>217.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>6</th>
      <td>642311</td>
      <td>a1050000000snTK</td>
      <td>General</td>
      <td>57.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>7</th>
      <td>642353</td>
      <td>a1050000000T3oX</td>
      <td>Extreme Poverty</td>
      <td>217.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>8</th>
      <td>642386</td>
      <td>a1050000000wf0f</td>
      <td>General</td>
      <td>133.0</td>
      <td>female</td>
    </tr>
    <tr>
      <th>9</th>
      <td>642429</td>
      <td>a1050000000wezJ</td>
      <td>General</td>
      <td>48.0</td>
      <td>female</td>
    </tr>
  </tbody>
</table>