
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>mobile </title>
  
      <link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="script.js" defer></script>





  <body>



<nav class="bottomNav">
  <a class="links-selected" href="#">About Us</a>
<a class="links" href="#"> Home</a>
<a class="links" href="Aboutus.html">About</a>
<a class="links" href="contactus.html"> contact</a>
<a class="links" href="#">signin</a>
  <a class="links" href="#">signup</a>
<a class="hamburger">☰</a>

</nav>
    
    
<div class="about-container">
  <div class="main">
          <div class="about-back"><h3>Background</h3></div> 
<p class="about-info">
  Xlsx comparewiz is a platform that was created by a team of developers and designers in fulfillment of the zuri training requirement.</p>
          <p class= "about-info">
            The platform was created to provide a simple user friendly solution for comparing excel/spreadsheet files easily.it is targeted at users who requlary work with excel files and need a simple way to compare files or document with similar contents,check for differences and make simple changes like remove duplicates,remove empty cells,merge two files into one and download or save the file for future use.
            <p class= "about-info">
              our users are mainly accountants, and other sectors of finance which make use of spreadsheets for accountability and refined bookkeeping.</p>
        </div>
</div>
    </div>



   <footer>
        <div id="xlsx-comparewiz">
            <div id="xlsx-logo">
                <div class="footer-logo">
                <div class="green-logo">
                    <img class="logo" src="img2.jpeg" width= "70px">
                </div>
                </div>         
        </div>
       
        <div class="footer-top">
            
    
<p >Get your freshest news from us  <br>
  <input type= "text" style= "border:0.5px solid blue;" value= "your email address ..." placeholder= "required"> </p>
  <a href= "#" class= "btn1">subscribe </a>
            
            
            
        </div>
        
        </div>
        <div class="footer-bottom" style= "opacity:0px;">
            <ul class="term">            <p class = "right";">XL Sweep 2022. All rights reserved.</p>
        
              
                <li><a href="{% url 'terms' %}">Terms & Conditions </a></li>|
                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>|
            </ul>
</div>
     
    </footer>


</body>

</html>
</body>
</html>