<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>mobile </title>
  
      <link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="script.js" defer></script>



  
  </head>
<body>
<nav class="bottomNav">
  <a class="links-selected" href="#">Contact</a>
<a class="links" href="#"> Home</a>
<a class="links" href="Aboutus.html">About</a>
<a class="links" href="contactus.html"> contact</a>
<a class="links" href="#">signin</a>
  <a class="links" href="#">signup</a>
<a class="hamburger">☰</a>

</nav>
<div class= "content">

  <p>Do you have suggestion or inquiries?</p>
    <p style="color:blue;">or do you simply want to say "Hi"?</p>
    <p>Then reach out to us</p>
  </div>

  <img class= "customer"src= "img.jpeg" height= "100%",width= "50%">
  <br><br>

  
  <section class= "contact">
  
  <div class= "container">
    <div class= "contactinfo">
      <div class= "box">
        <div class= "icon"><i class= "fa fa-map-marker"></i></div>
<div class= "text">
  
<p>plot 7 Elm street,Bermuda Triangle,Atlantic </p>
</div>
      </div>
      
<div class= "box">
        <div class= "icon"> <i class= "fa fa-phone"></i></div>
<div class= "text">
  
<p>0800-123-4569</p>
</div>
      </div>
      
      <div class= "box">
        <div class= "icon"><i class= "fa fa-envelope-o"></i></div>
<div class= "text">
  
<p>xlsxcomparewiz@gmail.com </p>
</div>
</div>
<div class= "box">
        <div class= "icon"><i class= "fa fa-globe"></i></div>
<div class= "text">
  
<p>www.Xlxscomparewiz.com</p>
</div>
</div>
    </div>
<div class= "contact-box">
  <form >
  <div class= "iputBox">
    <label>Name</label>
    <input type= "text" style= "border:1px solid black;"placeholder = "">
  </div>
  <div class= "iputBox">
    <label>Email</label>
    <input type = "text" style= "border:1px solid black;"placeholder= "">
    </div>
  <div class= "iputBox">
    <label>Message</label>
<textarea></textarea>
  </div>
  <button type= "submit" style="margin-left:300px;">Send</button>
    
    
    </form>
</div>

  </div>
  </section>

    <footer>
        <div id="xlsx-comparewiz">
            <div id="xlsx-logo">
                <div class="footer-logo">
                <div class="green-logo">
                    <img class="logo" src="img2.jpeg" width= "70px">
                </div>
                </div>         
        </div>
       
        <div class="footer-top">
            
    
<p >Get your freshest news from us  <br>
  <input type= "text" style= "border:0.5px solid blue;" value= "your email address..." placeholder= "your email address "> </p>
  <a href= "#" class= "btn1">subscribe </a>
            
            
            
        </div>
        
        </div>
        <div class="footer-bottom">
            <ul class="term">            <p class = "right">XLXS comparewiz 2022. All rights reserved.</p>
        
              
                <li><a href="{% url 'terms' %}">Terms & Conditions </a></li>
               | <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>|
            </ul>
</div>
     
    </footer>


</body>

</html>
</body>
</htm